<html>
  <head>
      <title>NCH</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
  </head>
    <body>

      <h1>Welcome Page</h1>

    </body>
</html>
